<div class="pane pane-sm sidebar process-list">
  <h5 class="nav-group-title">Processes</h5>

  <nav class="nav-group">
    {{#each processes.list as |process|}}
      {{#link-to "process" process.name class="nav-group-item"}}
        <span class="icon icon-db-shape {{process.state}}"></span>
        <span class="name">{{process.name}}</span>

        <span class="actions">
          <button type="button" class="blank-button" {{on "click" (fn this.restart process.name)}} title="Restart" class="icon icon-cw"></button>
          {{#if process.stopped}}
            <button type="button" class="blank-button" {{on "click" (fn this.start process.name)}} title="Start" class="icon icon-play"></button>
          {{else}}
            <button type="button" class="blank-button" {{on "click" (fn this.stop process.name)}} title="Stop" class="icon icon-stop"></button>
          {{/if}}
        </span>
      {{/link-to}}
    {{/each}}

    {{#link-to "processes.new" class="nav-group-item"}}+ Add process{{/link-to}}
  </nav>

  <div class="meta-actions">
    <button type="button" class="btn btn-default" {{on "click" this.startAll}}>
      Start All
    </button>
    <button type="button" class="btn btn-default" {{on "click" this.stopAll}}>
      Stop All
    </button>
    <button type="button" class="btn btn-default" {{on "click" this.restartAll}}>
      Restart All
    </button>
  </div>
</div>
